/*font*/
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsansnarrow/v16/BngRUXNadjH0qYEzV7ab-oWlsYCB.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsansnarrow/v16/BngSUXNadjH0qYEzV7ab-oWlsbg95DiC.ttf) format('truetype');
}

html body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #a1a1a1;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.wrap {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.authorize_wrap {
  max-width: 600px;
  width: 95%;
  position: absolute;
  margin: auto;
  background-color: #414141e5;
  border-radius: 10px;
  overflow: hidden;
  color: #dbdbdb;
  top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}
.authorize_wrap .form_title {
  background-color: #414141;
}
.authorize_wrap .form_title h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: 400;
}
.authorize_wrap .form_body .authorize_form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.authorize_wrap .form_body .authorize_form input{
  font-family: sans-serif;
  font-size: 17px;
  width: 100%;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 25px;
  height: 40px;
  border: 0px;
  margin-right: 10px;
  color: #ffffff;
  transition: .3s;
  background-color: rgb(66, 66, 66);
  outline: 2px;
  box-sizing: border-box;
  border: 2px solid #333333;
  z-index: 1;
}
.authorize_wrap .form_body .authorize_form input:focus{
  border: 2px solid rgb(124, 124, 124);
}
.authorize_wrap .form_body .authorize_form .active{
  background-color: red;
}
.input-wrap{
  padding: 40px 5px 25px 5px;
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
}
.authorize_wrap .form_body .authorize_form label{
  border-radius: 0;
  height: 35px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  position: relative;
}
.authorize_form  #alert-text{
  position: absolute;
  font-weight: 400;
  color: #ff3838e5;
  font-size: 16px;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.authorize_wrap .form_body .authorize_form label p{
  position: absolute;
  top: -7px; left: 13px;
  text-align: left;
  cursor: text;
  margin: 0;
  color: #929292;
  transition: .3s;
  font-weight: 400;
  padding: 5px;
  z-index: 20;
  font-size: 18px;
}
.authorize_wrap .form_body .btn{
  margin: 25px 0 0 0;
  width: 100%;
  border: 0px;
  padding: 10px 0 10px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 10px solid #414141;
  position: relative;
  transition: .4s ease-in;
  color: #414141;
  background-color: #dad8d8;
}
.authorize_wrap .form_body .btn:hover{
  background-color: #414141;
  color: #fff;
  cursor: pointer;
  letter-spacing: 3px;
  border-bottom: 10px solid #333333;
}

.authorize_wrap .form_body .btn::after{
  content: '';
  display: block;
  width: 0%;
  height: 9px;
  background-color: #414141;
  position: absolute;
  bottom: -4px;
  transition: .4s ease-in-out;
}
.authorize_wrap .form_body .btn:hover::after{
  width: 100%;
}

.authorize_form{
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: .3s;
}
#choice_form{
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}
#choice_form h2{
  font-weight: 400;
  font-size: 20px;
}
#choice_form button{
  font-size: 15px;
  max-width: 200px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 10px 0 10px 0;
  transition: 0.3s;
}
#choice_form button:hover{
  background-color: #333333;
  border: 1px solid rgba(255, 255, 255, 1);
  color: #dad8d8;
}
#success_form{
  height: 0px;
}
#success_form{
  display: flex;
  justify-content: center;
}
#success_form .success-icon{
  border: 3px solid rgb(14, 117, 0);
  width: 98px;
  padding: 5px;
  margin: 25px;
  border-radius: 50%;
}
